<h1>Editing Trip</h1>

<%= render 'form' %>

<%= link_to 'Cancel', @trip, :class=> "btn text" %>
<%= link_to 'Delete', @trip, method: :delete, data: { confirm: 'Are you sure?' }, :class=> "btn error" %>