<% if user_signed_in? %>
<div class="home-page">
  <h1>Welcome to ExpenseShare</h1>
  <h2>Keep a track of your expenses instantly</h2>

  <%= form_tag(search_path, method: :get) do %>
  <!-- <p>Enter a search term below</p> -->
  <div class="search">
    <%= text_field_tag :option %>
  </div>
  <div class="btn_search">
    <%= submit_tag "Search" %>
  </div>

  <% end %>

  <%# else %>
  <!-- <div class="main">
    <%#= link_to "Sign up", new_user_registration_path, :class => 'signup btn'  %> |
    <%#= link_to "Login", new_user_session_path, :class => 'login btn'  %>
    <%#s end %>
  </div> -->

 <% end %>



 </div>
 