/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// CORE
@import "variables";
@import "mixins";
@import "html-elements";

// SPECIFIC
@import "modifiers";
@import "header";
@import "forms";
@import "z-index";



/*SIGNUP/LOGIN/EDIT PROFILE*/
.signup {
  display: inline-block;
  text-align: centre;
  border: 1px solid;
  border-color: $c-green;
}
.register {
  margin-right: 20px;
}


/*HOME PAGE*/

.home-page {
  margin-top: 100px;
  color:  $c-text;
  text-align: center;
}
.home-page h1 {
  font-weight: 200;
  font-size: 2.8em;
  line-height: 1.8em;
  max-width: 38em;
  margin: auto;
  color: black;
  margin-top: 40px;
}
.home-page h2 {
  font-weight: 300;
  font-size: 2.2em;
  line-height: 1.8em;
  font-style: italic;
}
.icon {
  width: 140px;
  height: 120px;
  display: block;
  margin-left: 200px;
  margin-right:20px;
  margin-top: 80px;
  text-align:center;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.icon-flex {
  display: flex;
  flex-wrap: wrap;
}
.icon:hover {
    transform: scale(1.5);
}

.devices {
  background-size: cover; 
}

/*END OF STATIC HEADER*/

/*EXTRA WHITE SPACE*/
.block {
  background: white;
  height: 350px;
  margin-top: 0px;
}



/*MEDIA QUERIS*/

@media (min-width:768px) {
  body {
    /*background: url("/images/backgroundimg.png") no-repeat;*/
    background-size: cover; 
  }
}


