/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background: url("/images/backgroundimg.png") no-repeat;
  background-size: cover; 
    margin: 0;
    color: black;
    font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
  }


.header {
  justify-content: space-between;
  align-items: center;
  color: white;
  max-width: 110%;
  padding: 15px 0;
  margin: 0px auto;
  background: rgba(10,10,10,.8);
  position: static;
}
.btn {
  border-radius: 3px;
  border: 1px solid #8fcab7;
  color: #8fcab7;
  display: block;
  font-size: 1.4em;
  margin: 50px auto;
  padding: 18px;
  text-align: center;
  width: 120px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
a {
  color: #BDEB07;
  text-decoration: none;
}


/*SIGNUP/LOGIN/EDIT PROFILE*/
.signup {
  display: inline-block;
  text-align: centre;
  border: 1px solid;
  border-color: #ff3660;
}
.register {
  margin-right: 20px;
}

.login {
  display: inline-block;
  text-align: center;
  border: 1px solid;
  border-radius: 3px;
  border-color: #ff3660;
  padding: 8px;
}

.account {
  color: white;
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 15px;
}
.account img { 
  border-radius: 20px;
  max-width: 40px;
  position: absolute;
  top: 15px;
  right: 5px;
}
.account p {
  font-size: .8em;
}
.account a {
  font-weight: 100;
}

.edit_profile {
  max-width: 30%;
  color: white;
  margin: 100px auto;
  padding: 40px;
  padding-top: 20px;
  margin-bottom: 20px;
  background: rgba(10,10,10,.8);
  padding-bottom: 80px;
  text-align: center;
}
.edit_profile btn {

}
.edit_profile .field:hover {
  color: #BDEB07;
}
.edit_profile h1 {
  color: white;
}

/*HOME PAGE*/

.home-page {
  margin-top: 100px;
  color:  #94B053;
  text-align: center;
}
.home-page h1 {
  font-weight: 200;
  font-size: 2.8em;
  line-height: 1.8em;
  max-width: 38em;
  margin: auto;
  color: black;
  margin-top: 40px;
}
.home-page h2 {
  font-weight: 300;
  font-size: 2.2em;
  line-height: 1.8em;
  font-style: italic;
}
.icon {
  width: 140px;
  height: 120px;
  display: block;
  margin-left: 200px;
  margin-right:20px;
  margin-top: 80px;
  text-align:center;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.icon-flex {
  display: flex;
  flex-wrap: wrap;
}
.icon:hover {
    transform: scale(1.5);
}

.devices {
  background-size: cover; 
}



/*STATIC HEADER*/
.header.header.flex {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 9999;
    margin-bottom: 90px;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/*END OF STATIC HEADER*/

/*EXTRA WHITE SPACE*/
.block {
  background: white;
  height: 350px;
  margin-top: 0px;b
}




