@import "variables";
@import "mixins";


.expense-date {
  color: $c-gray-light;
  text-align: right;
}

.expense-description p {
  color: $c-gray-light;
  margin: $spacing-loose 0;
}

.expense-amount {

  h2{
    font-size: $font-size-largest;
    font-weight: 100;
    margin: 0;
    text-align: right;
  }
}

.expense-image {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;

}

.icon-camera_alt:before {
  font-size: $font-size-larger;
  position: relative;
  top: 3px;
  margin-bottom: 5px;
  display: inline-block;
}

// media queries
@include media-min($medium){
  .expense-image {
    width: 50%;
  }
  .expense-amount {
    text-align: right;
  }
}