@import "variables";
@import "mixins";

// B
a.btn {
  color: $c-white;
}
.btn { 
  background: $c-button;
  border-radius: 3px;
  border: 1px solid $c-button;
  color: $c-white;
  display: block;
  font-size: $font-size;
  margin: $spacing-tight auto;
  padding: $spacing-tighter;
  text-align: center;
  max-width: 60%;

  &:hover {
    background: $c-hover;
    color: $c-white;
  }
  &.small {
    font-size: $font-size-smaller;
    max-width: 50%;
  }
  &.full-width {
    max-width: 70%;
    margin: $spacing-tight auto;
  }
  &.secondary {
    background-color: transparent;
    color: $c-button;
    &:hover {
      background: $c-button;
      color: $c-white
    }
  }
  &.text {
    background-color: transparent;
    border: 0;
    color: $c-button;
  }

  &.error {
    background: transparent;
    border: none;
    color: $c-error;
    font-size: $font-size;
  }
}
@include media-min($medium) {
  .btn {
    max-width: 240px;
  }
}

.black-fade {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  height: 90px;
  width: 100%;
}

// C
.center {
  display: block;
  text-align: center;
  max-width: 100%;
}
.checkbox {
  @include clearfix();
  cursor: pointer;
  padding: $spacing-tighter;

  &>* {
    float: left;
  }
  label {
    display: block;
    font-size: $font-size;
    width: auto;
  }
  input {
    display: inline-block;
    width: auto;
  }
  &:hover {
    background: $c-gray-lightest;
  }
}
.checklist {
  
  li {
    @include clearfix();
    cursor: pointer;
    padding: $spacing-tighter;

    &:hover {
      background: $c-gray-lightest;
    }
  }

  label {
    display: block;
    font-size: $font-size;
  }
  input {
    display: inline-block;
    width: auto;
  }
}
.clearfix {
  @include clearfix();
}
.collapse {
  margin: 0;
  padding: 0;
  list-style: none;
}

// E
.error {
  background: lighten($c-error, 30%);
  border: 1px solid $c-error;
  color: $c-error;
}

.empty-state {
  color: $c-gray-lighter;
  text-align: center;
}
// F
.flex {
  flex-wrap: wrap;
  display: flex;
  justify-content:  space-between;

  &>*{
    flex: 1 200px;
  }
}

// H
hr.fancy {
     border: 0;
        height: 1px;
        background: #333;
        background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

// L
.left {
  float: left;
}
.list {
  list-style: none;
  margin: 0 auto $spacing;
  max-width: 600px;

  a {    

    border-bottom: 1px solid $c-gray-lighter;
    display: block;
    padding: $spacing-tight;
    position: relative;

    &:hover {
    background: lighten($c-link, 58%) ;

    }
  }

  h3 {
    margin: 0 0 $spacing-tighter;
  }

  small {
    color: $c-gray;
  }

  div {
    display: inline-block;
    margin-right: $spacing;
  }
  .icon-small {
    margin-right: $spacing-tightest;
  }
  .icon-keyboard_arrow_right {
    font-size: 2em;
    position: absolute;
    right: $spacing-tighter;
    top: 40%;
  }
}

@include media-min( $large ) {
  .logged-in {
    background: $c-gray-lightest;
  }  
}

// M

@include media-min( $large ) {
  .logged-in .main {
    @include box-shadow(0, 3px, 1px, darken($c-gray-lighter, 3%));
    background: $c-white;
    border-radius: $radius;
    margin: $spacing-loosest auto;
    padding: $spacing $spacing-loosest;
  }
}

// N
#notice {
  background: $c-gray-lightest;
  line-height: 3em;
  max-width: 600px;
  margin: $spacing auto;
  padding: 0 $spacing-tight;
}

// O

.overlay {
  background: transparentize($c-black,.3);
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// S 
.selector:after {
   content:'<>';
   font:11px "Consolas", monospace;
   color:#aaa;
   -webkit-transform:rotate(90deg);
   -moz-transform:rotate(90deg);
   -ms-transform:rotate(90deg);
   transform:rotate(90deg);
   right:8px; 
   top:28px;
   padding:0 0 2px;
   border-bottom:1px solid #ddd;
   position:absolute;
   pointer-events:none;
}


// W
.wrapper {
  max-width: $max-width*1.3;
  margin: 0 auto;
}
.logged-in .wrapper {
  max-width: $max-width;
  margin: 0 auto;
}