
@import "variables";
@import "mixins";

.participants-count {
  position: absolute;
  right: $spacing-loose;
  top: 38px;
}
.trip-name {
  color: $c-white;
  margin: 0;
  bottom: $spacing-loose;
  left: $spacing-tight;

  .btn { //edit button
    display: inline;
    margin: 0 0 0 $spacing-tight;
    padding: 0;
    .icon-edit:before {
      font-size: $font-size-smallest;
    }
  }
}
.trip-name h1 {
  font-size: $font-size-small;
}
.black-fade {
  bottom: 0;
}
.trip-header {
  height: 180px;
  overflow: hidden;
  position: relative;
  left: -16px;
  top: -16px;
  width: calc(100% + 32px);
  
  .btn {
    background: transparent;
    border: none;
    &:hover {
      background: transparent;
      color: $c-green-yellow;
    }
  }

  .trip-meta {
    color: $c-gray-lighter;
    bottom: $spacing-tight;
    left: $spacing-tight;
  }
  .country {
    margin-right: $spacing-tighter;
  }
}

.trip-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.trip-expenses, 
.trip-participants {
  margin-bottom: $spacing-loosest;

  li {
    font-size: $font-size-large;
    padding: $spacing-tight;

    &:hover {
      background: darken($c-white, 2%);
    }
  }
  strong {
    float: right;
  }
  small {
    display: block;
    color: $c-gray-light;
  }
  .btn {
    float: right;
    display: inline-block;
    margin: 3px;
    font-size: $font-size-smaller;
    padding: 0 $spacing-tighter;
  }
  .icon-person,
  .icon-receipt {
    &:before {
      font-size: $font-size-largest;
    }
  }
  .total {
    float: right;
    text-align: right;
  }
}
.per-person {
  float: right;
  font-size: $font-size-larger;
  text-align: right;
}

@include media-min( $large ) {
  .trip-header {

    .btn {
      color: $c-link;
    }

    img,
    .black-fade {
      display: none;
    }
    h1 {
      color: $c-black;
    }
    .trip-meta {
      color: $c-gray-light;
    }
  }
  .trip-wrapper {
    max-width: $max-width;
  }
  .trip-content {
    flex: 1;
  }
}

