
@import "variables";
@import "mixins";

.trips {

}
.trip-name {
  color: $c-white;
  margin: 0;
  bottom: $spacing-loose;
  left: $spacing-tight;
}
.black-fade {
  bottom: 0;
}
.trip-header {
  height: 180px;
  overflow: hidden;
  position: relative;
  left: -16px;
  top: -16px;
  width: calc(100% + 32px);

  .trip-meta {
    color: $c-gray-lighter;
    bottom: $spacing-tight;
    left: $spacing-tight;
  }
  .country {
    margin-right: $spacing-tighter;
  }
}

.trip-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}