/*
SIZES AND MEDIA QUERIES
*/

$golden-rule:           1.61803399;

$radius:                4px;

$small:                 480px;
$medium:                768px;
$large:                 960px;
$larger:                1024px;

/*
COLORS
*/

// Some base colors to get us started

$c-black:                 #000;
$c-white:                 #fff;

$c-gray-lightest:         lighten($c-black, 96%);
$c-gray-lighter:          lighten($c-black, 82%);
$c-gray-light:            lighten($c-black, 66%);
$c-gray:                  lighten($c-black, 50%);
$c-gray-dark:             lighten($c-black, 34%);
$c-gray-darker:           lighten($c-black, 20%);
$c-gray-darkest:          lighten($c-black, 2%);

$c-brand:               #B11623;
$c-gray-blue:           gray;
$c-green:               #8fcab7;
$c-green2:              #16b1a4;
$c-green-yellow:        #f4ff6f;
$c-grey-purple:         #632F53;

// Define color uses
$c-primary:         red;
$c-text:            #333;

// Colors with purpose

$c-link:            $c-green2;
$c-visited:         invert($c-link);
$c-hover:           adjust-hue($c-link, 8%);
$c-active:          darken($c-link, 5%);
$c-button:          $c-link;

$c-warning:   #F5F4D7;
$c-error:     #ff3660;
$c-success:   #faa;

$c-highlight: #f4ff6f;

/*
FONTS & TYPOGRAPHY
*/

$font-size:                  1em;
$font-size-small:            $font-size/1.2;
$font-size-smaller:          $font-size-small/1.2;
$font-size-smallest:         $font-size-smaller/1.2;
$font-size-large:            $font-size*1.2;
$font-size-larger:           $font-size-large*1.3;
$font-size-largest:          $font-size-larger*2;


/*
SPACING
*/
$spacing:               24px;
$spacing-tight:         16px;
$spacing-tighter:       8px;
$spacing-tightest:      4px;
$spacing-loose:         32px;
$spacing-looser:        48px;
$spacing-loosest:       64px;

$line-height:           1.8em;

// 1260px as ems
$max-width:             78.75em;